p, h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}

html, body, #root, .App{
  height: 100%;
}

h1{
  font-size: 48.83px
}

h2{
  font-size: 39.06px;
}

h3{
  font-size: 31.25px;
}

h4{
  font-size: 25.00px;
}

h5{
  font-size: 20.00px;
}

h6{
  font-size: 16px;
}

.ql-container{
  height: 300px;
}

.ant-select{
  width: 100%;
}

.danger{
  color: red;
}