:root {
  --ifm-color-primary: #0f6fec;
  --ifm-color-primary-dark: #0d62cf;
  --ifm-color-primary-darker: #0c5ac1;
  --ifm-color-primary-darkest: #0a4a9e;
  --ifm-color-primary-light: #2a80f0;
  --ifm-color-primary-lighter: #3b8af1;
  --ifm-color-primary-lightest: #6ea8fe;
}

.button.button--primary {
  color: #fff;
}


/* API Reference page: remove container/column max-width so Redoc can use full width */
html[class*="docs-doc-id-server/api-reference"] .container {
  max-width: 100% !important;
}

html[class*="docs-doc-id-server/api-reference"] .row .col[class*="docItemCol"] {
  max-width: 100% !important;
  flex: 0 0 100% !important;
}


